parameters:
    mailFrom:
        email: 'xname@vse.cz'
        name: 'xname eshop'

    database:
        driver: mysqli
        host: localhost
        username: reps02
        password: 'cheixee7wae7shithe'
        database: reps02
        encoding: utf8
        charset: utf8mb4

    facebook:
        appId: 'TODO'
        secret: 'TODO'

php:
	date.timezone: Europe/Prague
	error_reporting: E_ALL &~E_USER_WARNING