parameters:
    mailFrom:
        email: 'vont02@vse.cz'
        name: 'vont02 eshop'

    database:
        driver: mysqli
        host: localhost
        username: vont02
        password: 'ufiehee7Aef4AeVi4d'
        database: vont02
        encoding: utf8
        charset: utf8mb4

    facebook:
        appId: 'TODO'
        secret: 'TODO'

php:
	date.timezone: Europe/Prague
	error_reporting: E_ALL &~E_USER_WARNING
